@import url("https://fonts.googleapis.com/css?family=DM+Sans:400,500,700&display=swap");

body {
    background: url("../images/background_selection.png") no-repeat;
    background-size: cover;
}
.choice-avatar-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "DM Sans", sans-serif;
    gap: 2rem;
}

.choice-avatar-page h1 {
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    color: #da871a;
    display: inline-block;
    text-transform: uppercase;
}

.choice-avatar-page input[type="radio"] {
    display: none;
}

.choice-avatar-page .cards {
    position: relative;
    width: 100%;
    height: 30rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10rem;
}

.choice-avatar-page .card {
    position: absolute;
    width: 25rem;
    height: 30rem;
    top: 0;
    transform: translateX(-50%);
    border-radius: 15px;
    transition:
        transform 0.4s ease,
        opacity 0.4s ease;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    text-align: center;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
}

.choice-avatar-page #item-1:checked ~ .cards .card:nth-child(3),
.choice-avatar-page #item-2:checked ~ .cards .card:nth-child(1),
.choice-avatar-page #item-3:checked ~ .cards .card:nth-child(2) {
    transform: translate(-120%, 0) scale(0.8); /* Position à gauche */
    opacity: 0.4;
    z-index: 0;
}

.choice-avatar-page #item-1:checked ~ .cards .card:nth-child(2),
.choice-avatar-page #item-2:checked ~ .cards .card:nth-child(3),
.choice-avatar-page #item-3:checked ~ .cards .card:nth-child(1) {
    transform: translate(120%, 0) scale(0.8); /* Position à droite */
    opacity: 0.4;
    z-index: 0;
}

.choice-avatar-page #item-1:checked ~ .cards .card:nth-child(1),
.choice-avatar-page #item-2:checked ~ .cards .card:nth-child(2),
.choice-avatar-page #item-3:checked ~ .cards .card:nth-child(3) {
    transform: translate(-50%, 0) scale(1); /* Carte active centrée */
    opacity: 1;
    z-index: 1;
}

.choice-avatar-page .card1 {
    background: linear-gradient(
        168deg,
        #ff0a23 23%,
        #ff6868 32%,
        #ff8282 40%,
        #ff8282 60%,
        #ff6868 70%,
        #ff0a23 87%
    );
}

.choice-avatar-page .card2 {
    background: linear-gradient(
        168deg,
        #fdab3d 23%,
        #ffc16a 32%,
        #ffd193 40%,
        #ffd193 60%,
        #ffc16a 70%,
        #fdab3d 87%
    );
}

.choice-avatar-page .card3 {
    background: linear-gradient(
        168deg,
        #419d4f 23%,
        #66b46d 32%,
        #8fcb98 40%,
        #8fcb98 60%,
        #66b46d 70%,
        #419d4f 87%
    );
}

.choice-avatar-page .card .img {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.choice-avatar-page #item-1:checked ~ .cards #song-3,
.choice-avatar-page #item-2:checked ~ .cards #song-1,
.choice-avatar-page #item-3:checked ~ .cards #song-2 {
    transform: translateX(-40%) scale(0.8);
    opacity: 0.4;
    z-index: 0;
}

.choice-avatar-page #item-1:checked ~ .cards #song-2,
.choice-avatar-page #item-2:checked ~ .cards #song-3,
.choice-avatar-page #item-3:checked ~ .cards #song-1 {
    transform: translateX(40%) scale(0.8);
    opacity: 0.4;
    z-index: 0;
}

.choice-avatar-page #item-1:checked ~ .cards #song-1,
.choice-avatar-page #item-2:checked ~ .cards #song-2,
.choice-avatar-page #item-3:checked ~ .cards #song-3 {
    transform: translateX(0) scale(1);
    opacity: 1;
    z-index: 1;
}

.navigation-buttons {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.navigation-buttons button {
    padding: 1% 2%;
    font-size: 18px;
    font-weight: bold;
    color: white;
    background: linear-gradient(90deg, #fac988, #fba32f);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
}

.navigation-buttons button:focus {
    outline: none;
    box-shadow: 0 0 5px #fdab3d;
}
.choice-avatar-page .img1.selected {
    transform: scale(1);
    transition: transform 0.1s ease;
}

.choice-avatar-page .img2.selected {
    transform: scale(1.1);
    transition: transform 0.1s ease;
}
.choice-avatar-page .img3.selected {
    transform: scale(1);
    transition: transform 0.1s ease;
}
