@import url("https://fonts.googleapis.com/css?family=DM+Sans:400,500,700&display=swap");

/* Style global pour la page */
.choice-avatar-page {
  
  align-items: center;
  padding: 30px 10px 4% 10px; /* Ajustement du padding en bas pour réduire l'espace */
  font-family: 'DM Sans', sans-serif;
  background: url("../img/background_selection.png") no-repeat;
  background-size: cover;
  
}

  .choice-avatar-page h1 {
  font-size: 35px; /* Taille du texte */
  font-weight: bold;
  text-align: center;
  color: white; /* Couleur du texte */
  background: linear-gradient(90deg,#fac988,#fba32f); /* Couleurs du dégradé */
  padding: 15px 30px; /* Espacement interne */
  border-radius: 50px; /* Arrondir les bords */
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2); /* Ombre sous le bouton */
  display: inline-block; /* Pour ajuster la largeur au contenu */
  text-transform: uppercase;
  margin-left: 415px;
  margin-bottom: 30px;
  border-bottom:8px solid #ae7428 ;
}


/* Cache les boutons radio */
.choice-avatar-page input[type=radio] {
  display: none;
}

/* Styles spécifiques des cartes */
.choice-avatar-page .card {
  position: absolute;
  width: 350px;
  height: 450px;
  margin: 10px 500px 0px 500px;

  
  
  
  border-radius: 15px;
  transition: transform 0.4s ease;
  display: flex;
  flex-direction: column;
  padding: 20px;
  text-align: center;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
}

.choice-avatar-page .card1 {
 
  background: linear-gradient(
    168deg, 
    #ff0a23 23%, /* Couleur de la première section (33% de la hauteur) */
    #FF8282 23% 76%, /* Couleur de la deuxième section (entre 33% et 66%) */
    #ff0a23 76% /* Couleur de la troisième section (reste 34%) */
  );
}

.choice-avatar-page .card2 {
  
  background: linear-gradient(
    168deg, 
    #FDAB3D 23%, /* Couleur de la première section (33% de la hauteur) */
    #FFD193  23% 76%, /* Couleur de la deuxième section (entre 33% et 66%) */
    #FDAB3D 76% /* Couleur de la troisième section (reste 34%) */
  );
}
.name2 {
  color: white;
  position: fixed;
  text-align: center;
  z-index: -1;
}
.choice-avatar-page .card3 {
  background: linear-gradient(
    168deg, 
    #419D4F 23%, /* Couleur de la première section (33% de la hauteur) */
    #8FCB98 23% 76%, /* Couleur de la deuxième section (entre 33% et 66%) */
    #419D4F 76% /* Couleur de la troisième section (reste 34%) */
  );
}

.choice-avatar-page .card h2 {
  position: fixed;
  font-size: 45px;
  font-weight: bold;
  color: white;
  text-transform: uppercase;
  transform: rotate(-12deg);
  margin-left: 40px;
}

.choice-avatar-page .card h2:first-child {
  top: 20px;
  left: 10px;
}

.choice-avatar-page .card h2:last-child {
  bottom: 20px;
  right: 10px;
}

/* Style des images */
.choice-avatar-page .card .img {
  margin-top: 10px;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}



/* Animation des cartes */
.choice-avatar-page #item-1:checked ~ .cards #song-3,
.choice-avatar-page #item-2:checked ~ .cards #song-1,
.choice-avatar-page #item-3:checked ~ .cards #song-2 {
  transform: translateX(-40%) scale(0.8);
  opacity: 0.4;
  z-index: 0;
}

.choice-avatar-page #item-1:checked ~ .cards #song-2,
.choice-avatar-page #item-2:checked ~ .cards #song-3,
.choice-avatar-page #item-3:checked ~ .cards #song-1 {
  transform: translateX(40%) scale(0.8);
  opacity: 0.4;
  z-index: 0;
}

.choice-avatar-page #item-1:checked ~ .cards #song-1,
.choice-avatar-page #item-2:checked ~ .cards #song-2,
.choice-avatar-page #item-3:checked ~ .cards #song-3 {
  transform: translateX(0) scale(1);
  opacity: 1;
  z-index: 1;
}

/* Style des boutons de navigation */
.navigation-buttons {
  display: flex;
  justify-content:space-around;
  
  margin-top: 450px; 
  margin-right: 40px;/* Réduction de l'espace sous les cartes */
   /* Espace entre les boutons */
}

.navigation-buttons button {
  padding: 10px 20px;
  font-size: 18px;
  font-weight: bold;
  color: white;
  background: linear-gradient(90deg,#fac988,#fba32f);
  
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
}



.navigation-buttons button:focus {
  outline: none;
  box-shadow: 0 0 5px #FDAB3D;
}




.choice-avatar-page .img1 {
  
  border-radius: 15px;
  
  
  max-width: 600px;
  max-height: 600px;
  object-fit: contain;
  
}

.choice-avatar-page .img2 {
  
  border-radius: 15px;
  
  
  max-width: 300px;
  max-height: 300px;
  object-fit: contain;
}

.choice-avatar-page .img3 {
  
  border-radius: 15px;
  
  max-width: 450px;
  max-height: 450px;
  object-fit: contain;
  
}







@media (max-width:1366px){
  .choice-avatar-page .card{
    margin-left: 405px;
    width: 450px;
    height: 550px;

  }

  .choice-avatar-page{
    padding: 30px 10px 9.2% 10px; 
  }

  .choice-avatar-page h1{
    margin-left: 277px;
    font-size: 50px;
  }

  .navigation-buttons {
    margin-right: 100px;
    margin-left: 100px;
    margin-top: 580px; 
    
  }

  .navigation-buttons button{
    font-size: 28px;
  }
}

@media (max-width:1180px){
  .choice-avatar-page .card{
    margin-left: 350px;
    width: 350px;
    height: 450px;
  }

  .choice-avatar-page{
    padding: 30px 10px 9% 10px; 
    
  }

  .choice-avatar-page h1{
    margin-left: 260px;
    font-size: 35px;
  }

  .navigation-buttons {
    margin-right: 45px;
    margin-left: 15px;
    margin-top: 450px; 
  }
  .navigation-buttons button{
    font-size: 18px;
  }
}

@media (max-width:1024px){
  .choice-avatar-page .card{
    margin-left: 335px;
    width: 350px;
    height: 450px;
  }

  .choice-avatar-page{
    padding: 30px 10px 11.7% 10px; 
  }

  .choice-avatar-page h1{
    margin-left: 250px;
  }

  .navigation-buttons {
    margin-right: 25px;
    margin-left: 15px;
    margin-top: 450px; 
  }
}